<a href="https://colab.research.google.com/github/NishatSultana3538/Spark_Colab_Notebook/blob/main/spark_function.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [28]:
import os
# Find the latest version of spark 3.0  from http://www.apache.org/dist/spark/ and enter as the spark version
# For example:
# spark_version = 'spark-3.2.1'
spark_version = 'spark-3.2.1'
os.environ['SPARK_VERSION']=spark_version

# Install Spark and Java
!apt-get update
!apt-get install openjdk-11-jdk-headless -qq > /dev/null
!wget -q http://www.apache.org/dist/spark/$SPARK_VERSION/$SPARK_VERSION-bin-hadoop2.7.tgz
!tar xf $SPARK_VERSION-bin-hadoop2.7.tgz
!pip install -q findspark

# Set Environment Variables
import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-11-openjdk-amd64"
os.environ["SPARK_HOME"] = f"/content/{spark_version}-bin-hadoop2.7"

# Start a SparkSession
import findspark
findspark.init()

Get:1 http://security.ubuntu.com/ubuntu bionic-security InRelease [88.7 kB]
Hit:2 https://cloud.r-project.org/bin/linux/ubuntu bionic-cran40/ InRelease
Ign:3 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu1804/x86_64  InRelease
Hit:4 http://ppa.launchpad.net/c2d4u.team/c2d4u4.0+/ubuntu bionic InRelease
Hit:5 http://archive.ubuntu.com/ubuntu bionic InRelease
Ign:6 https://developer.download.nvidia.com/compute/machine-learning/repos/ubuntu1804/x86_64  InRelease
Get:7 http://archive.ubuntu.com/ubuntu bionic-updates InRelease [88.7 kB]
Get:8 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu1804/x86_64  Release [696 B]
Hit:9 https://developer.download.nvidia.com/compute/machine-learning/repos/ubuntu1804/x86_64  Release
Get:10 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu1804/x86_64  Release.gpg [836 B]
Hit:11 http://ppa.launchpad.net/cran/libgit2/ubuntu bionic InRelease
Hit:12 http://ppa.launchpad.net/deadsnakes/ppa/ubuntu bionic InRelease
Get:13 http://archive.ubuntu.com/ubuntu bionic-backports InRelease [74.6 kB]
Hit:14 http://ppa.launchpad.net/graphics-drivers/ppa/ubuntu bionic InRelease
Get:16 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu1804/x86_64  Packages [951 kB]
Fetched 1,204 kB in 2s (497 kB/s)
Reading package lists... Done

In [29]:
# Start Spark session
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName("DataFrameFunctions").getOrCreate()

In [30]:
# Read in data from S3 Buckets
from pyspark import SparkFiles
url ="https://s3.amazonaws.com/dataviz-curriculum/day_1/wine.csv"
spark.sparkContext.addFile(url)
df = spark.read.csv(SparkFiles.get("wine.csv"), sep=",", header=True)

# Show DataFrame
df.show()

+-------+--------------------+--------------------+------+-----+------------------+--------------------+-----------------+------------------+--------------------+
|country|         description|         designation|points|price|          province|            region_1|         region_2|           variety|              winery|
+-------+--------------------+--------------------+------+-----+------------------+--------------------+-----------------+------------------+--------------------+
|     US|This tremendous 1...|   Martha's Vineyard|    96|  235|        California|         Napa Valley|             Napa|Cabernet Sauvignon|               Heitz|
|  Spain|Ripe aromas of fi...|Carodorum Selecci...|    96|  110|    Northern Spain|                Toro|             null|     Tinta de Toro|Bodega Carmen Rod...|
|     US|Mac Watson honors...|Special Selected ...|    96|   90|        California|      Knights Valley|           Sonoma|   Sauvignon Blanc|            Macauley|
|     US|This spent 20 mon...|             Reserve|    96|   65|            Oregon|   Willamette Valley|Willamette Valley|        Pinot Noir|               Ponzi|
| France|This is the top w...|         La Br��lade|    95|   66|          Provence|              Bandol|             null|Provence red blend|Domaine de la B̩gude|
|  Spain|Deep, dense and p...|           Numanthia|    95|   73|    Northern Spain|                Toro|             null|     Tinta de Toro|           Numanthia|
|  Spain|Slightly gritty b...|          San Rom��n|    95|   65|    Northern Spain|                Toro|             null|     Tinta de Toro|            Maurodos|
|  Spain|Lush cedary black...|Carodorum �_nico ...|    95|  110|    Northern Spain|                Toro|             null|     Tinta de Toro|Bodega Carmen Rod...|
|     US|This re-named vin...|              Silice|    95|   65|            Oregon|  Chehalem Mountains|Willamette Valley|        Pinot Noir|           Bergstr̦m|
|     US|The producer sour...|Gap's Crown Vineyard|    95|   60|        California|        Sonoma Coast|           Sonoma|        Pinot Noir|           Blue Farm|
|  Italy|Elegance, complex...|  Ronco della Chiesa|    95|   80|Northeastern Italy|              Collio|             null|          Friulano|    Borgo del Tiglio|
|     US|From 18-year-old ...|Estate Vineyard W...|    95|   48|            Oregon|        Ribbon Ridge|Willamette Valley|        Pinot Noir|Patricia Green Ce...|
|     US|A standout even i...|      Weber Vineyard|    95|   48|            Oregon|        Dundee Hills|Willamette Valley|        Pinot Noir|Patricia Green Ce...|
| France|This wine is in p...|Ch̢teau Montus Pr...|    95|   90|  Southwest France|             Madiran|             null|            Tannat|   Vignobles Brumont|
|     US|With its sophisti...|      Grace Vineyard|    95|  185|            Oregon|        Dundee Hills|Willamette Valley|        Pinot Noir|      Domaine Serene|
|     US|First made in 200...|              Sigrid|    95|   90|            Oregon|   Willamette Valley|Willamette Valley|        Chardonnay|           Bergstr̦m|
|     US|This blockbuster,...|     Rainin Vineyard|    95|  325|        California|Diamond Mountain ...|             Napa|Cabernet Sauvignon|                Hall|
|  Spain|Nicely oaked blac...|6 A̱os Reserva Pr...|    95|   80|    Northern Spain|    Ribera del Duero|             null|       Tempranillo|            Valduero|
| France|Coming from a sev...|       Le Pigeonnier|    95|  290|  Southwest France|              Cahors|             null|            Malbec|  Ch̢teau Lagr̩zette|
|     US|This fresh and li...|Gap's Crown Vineyard|    95|   75|        California|        Sonoma Coast|           Sonoma|        Pinot Noir|        Gary Farrell|
+-------+--------------------+--------------------+------+-----+------------------+--------------------+-----------------+------------------+--------------------+
only showing top 20 rows

In [31]:
# Order a DataFrame by ascending values
df.orderBy(df["points"].desc())

DataFrame[country: string, description: string, designation: string, points: string, price: string, province: string, region_1: string, region_2: string, variety: string, winery: string]

In [32]:
# Order a DataFrame by ascending values
df.orderBy(df["points"].desc()).show(6)

+-------+--------------------+--------------------+------+-----+------------+-----------+--------+--------------------+--------------------+
|country|         description|         designation|points|price|    province|   region_1|region_2|             variety|              winery|
+-------+--------------------+--------------------+------+-----+------------+-----------+--------+--------------------+--------------------+
|     US|This is an absolu...|           IX Estate|    99|  290|  California|Napa Valley|    Napa|           Red Blend|              Colgin|
| France|Dense and rich bu...|         La Landonne|    99|  450|Rh̫ne Valley| C̫te R̫tie|    null|               Syrah|           E. Guigal|
|     US|There are incredi...|Elevation 1147 Es...|    99|  150|  California|Napa Valley|    Napa|  Cabernet Sauvignon|        David Arthur|
| France|A magnificent Cha...|Dom P̩rignon Oeno...|    99|  385|   Champagne|  Champagne|    null|     Champagne Blend|     Mo��t & Chandon|
|  Italy|Even better than ...|             Masseto|    99|  250|     Tuscany|    Toscana|    null|              Merlot|Tenuta dell'Ornel...|
| France|98-100 Barrel sam...|       Barrel sample|    99| null|    Bordeaux|    Margaux|    null|Bordeaux-style Re...|      Ch̢teau Palmer|
+-------+--------------------+--------------------+------+-----+------------+-----------+--------+--------------------+--------------------+
only showing top 6 rows

In [33]:
from pyspark.sql.functions import avg
df.select(avg("points")).show()

+-----------------+
|      avg(points)|
+-----------------+
|87.88834105383143|
+-----------------+

In [34]:
#filter function
df.filter("price<20").show(4)

+--------+--------------------+-----------+------+-----+----------+--------------------+-----------------+----------+-----------------+
| country|         description|designation|points|price|  province|            region_1|         region_2|   variety|           winery|
+--------+--------------------+-----------+------+-----+----------+--------------------+-----------------+----------+-----------------+
|Bulgaria|This Bulgarian Ma...|    Bergul̩|    90|   15|  Bulgaria|                null|             null|    Mavrud|     Villa Melnik|
|   Spain|Earthy plum and c...|     Amandi|    90|   17|   Galicia|       Ribeira Sacra|             null|   Menc�_a|   Don Bernardino|
|      US|There's a lot to ...|       null|    90|   18|California|Russian River Valley|           Sonoma|Chardonnay|         De Loach|
|      US|Massively fruity,...|       null|    91|   19|    Oregon|   Willamette Valley|Willamette Valley|Pinot Gris|Trinity Vineyards|
+--------+--------------------+-----------+------+-----+----------+--------------------+-----------------+----------+-----------------+
only showing top 4 rows

In [35]:
#filter by price on certain colum
df.filter("price<20").select(['points', 'country', 'winery', 'price']).show(3)

+------+--------+--------------+-----+
|points| country|        winery|price|
+------+--------+--------------+-----+
|    90|Bulgaria|  Villa Melnik|   15|
|    90|   Spain|Don Bernardino|   17|
|    90|      US|      De Loach|   18|
+------+--------+--------------+-----+
only showing top 3 rows

In [36]:
# Filter
df.filter("price<20").show(5)

+--------+--------------------+-----------+------+-----+----------+--------------------+-----------------+--------------+--------------------+
| country|         description|designation|points|price|  province|            region_1|         region_2|       variety|              winery|
+--------+--------------------+-----------+------+-----+----------+--------------------+-----------------+--------------+--------------------+
|Bulgaria|This Bulgarian Ma...|    Bergul̩|    90|   15|  Bulgaria|                null|             null|        Mavrud|        Villa Melnik|
|   Spain|Earthy plum and c...|     Amandi|    90|   17|   Galicia|       Ribeira Sacra|             null|       Menc�_a|      Don Bernardino|
|      US|There's a lot to ...|       null|    90|   18|California|Russian River Valley|           Sonoma|    Chardonnay|            De Loach|
|      US|Massively fruity,...|       null|    91|   19|    Oregon|   Willamette Valley|Willamette Valley|    Pinot Gris|   Trinity Vineyards|
|Portugal|It is the ripe da...|    Premium|    91|   15|  Alentejo|                null|             null|Portuguese Red|Adega Cooperativa...|
+--------+--------------------+-----------+------+-----+----------+--------------------+-----------------+--------------+--------------------+
only showing top 5 rows

In [37]:
# Filter by price on certain columns
df.filter("price<20").select(['points','country', 'winery','price']).show(5)

+------+--------+--------------------+-----+
|points| country|              winery|price|
+------+--------+--------------------+-----+
|    90|Bulgaria|        Villa Melnik|   15|
|    90|   Spain|      Don Bernardino|   17|
|    90|      US|            De Loach|   18|
|    91|      US|   Trinity Vineyards|   19|
|    91|Portugal|Adega Cooperativa...|   15|
+------+--------+--------------------+-----+
only showing top 5 rows

In [38]:
# Filter on exact state
df.filter(df["country"] == "US").show(7)

+-------+--------------------+--------------------+------+-----+----------+------------------+-----------------+------------------+--------------------+
|country|         description|         designation|points|price|  province|          region_1|         region_2|           variety|              winery|
+-------+--------------------+--------------------+------+-----+----------+------------------+-----------------+------------------+--------------------+
|     US|This tremendous 1...|   Martha's Vineyard|    96|  235|California|       Napa Valley|             Napa|Cabernet Sauvignon|               Heitz|
|     US|Mac Watson honors...|Special Selected ...|    96|   90|California|    Knights Valley|           Sonoma|   Sauvignon Blanc|            Macauley|
|     US|This spent 20 mon...|             Reserve|    96|   65|    Oregon| Willamette Valley|Willamette Valley|        Pinot Noir|               Ponzi|
|     US|This re-named vin...|              Silice|    95|   65|    Oregon|Chehalem Mountains|Willamette Valley|        Pinot Noir|           Bergstr̦m|
|     US|The producer sour...|Gap's Crown Vineyard|    95|   60|California|      Sonoma Coast|           Sonoma|        Pinot Noir|           Blue Farm|
|     US|From 18-year-old ...|Estate Vineyard W...|    95|   48|    Oregon|      Ribbon Ridge|Willamette Valley|        Pinot Noir|Patricia Green Ce...|
|     US|A standout even i...|      Weber Vineyard|    95|   48|    Oregon|      Dundee Hills|Willamette Valley|        Pinot Noir|Patricia Green Ce...|
+-------+--------------------+--------------------+------+-----+----------+------------------+-----------------+------------------+--------------------+
only showing top 7 rows

In [39]:
# Filter on exact state
df.filter(price<15  & "province" == "California").show(5)

#df.filter(df["country"] == "US").show(7)

NameError: ignored

In [ ]:
df.filter(price<15  & "province" == "California").show(5)

In [40]:
# Read in data from S3 Buckets
from pyspark import SparkFiles
url ="https://s3.amazonaws.com/dataviz-curriculum/day_1/rainfall.csv"
spark.sparkContext.addFile(url)
df = spark.read.csv(SparkFiles.get("rainfall.csv"), sep=",", header=True)

# Show DataFrame
df.show()

+-----------+----------+----+----+
|    station|      date|prcp|tobs|
+-----------+----------+----+----+
|USC00519397|2010-01-01|0.08|  65|
|USC00519397|2010-01-02|   0|  63|
|USC00519397|2010-01-03|   0|  74|
|USC00519397|2010-01-04|   0|  76|
|USC00519397|2010-01-07|0.06|  70|
|USC00519397|2010-01-08|   0|  64|
|USC00519397|2010-01-09|   0|  68|
|USC00519397|2010-01-10|   0|  73|
|USC00519397|2010-01-11|0.01|  64|
|USC00519397|2010-01-12|   0|  61|
|USC00519397|2010-01-14|   0|  66|
|USC00519397|2010-01-15|   0|  65|
|USC00519397|2010-01-16|   0|  68|
|USC00519397|2010-01-17|   0|  64|
|USC00519397|2010-01-18|   0|  72|
|USC00519397|2010-01-19|   0|  66|
|USC00519397|2010-01-20|   0|  66|
|USC00519397|2010-01-21|   0|  69|
|USC00519397|2010-01-22|   0|  67|
|USC00519397|2010-01-23|   0|  67|
+-----------+----------+----+----+
only showing top 20 rows

In [44]:
rain_df = df
rain_df.printSchema()

root
 |-- station: string (nullable = true)
 |-- date: string (nullable = true)
 |-- prcp: string (nullable = true)
 |-- tobs: string (nullable = true)

In [45]:
rain_df.show(3)

+-----------+----------+----+----+
|    station|      date|prcp|tobs|
+-----------+----------+----+----+
|USC00519397|2010-01-01|0.08|  65|
|USC00519397|2010-01-02|   0|  63|
|USC00519397|2010-01-03|   0|  74|
+-----------+----------+----+----+
only showing top 3 rows